* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #aff6d8;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form-box{
    width: 850px;
    height:500px;
    background: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px; 
}

.left-box{
    width: 45%;
    height: 550px;
    background: linear-gradient(#73d8b6,#1ec37f 70%);
    border-radius: 20px;
    margin: -25px 0px; 
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    display: inline-block;
    padding: 220px 70px;
}

.left-box span{
    font-weight: bold;
    color: white;
    font-size: 27px;
}
.left-box h1{
    font-weight: bold;
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(178, 252, 197);
}
.left-box p{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    
}

.right-box{
    width: 55%;
    height: 500px;
    padding: 100px 70px;
    float: right;
    border-radius: 20px;
}

.right-box span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
    display: block;
    color: #585858;
}

.right-box input{
    margin: 5px 0px;
    padding: 10px 5px;
    width: 340px;
    height: 30px;
    display: block;
    border: 0px;
    border-bottom: 2px solid #8c8c8c;
    opacity: 0.7;
    outline: 0;
    font-size: 15px;
    color: #8c8c8c;
}

.right-box input:focus{
    border: 0px;
    border-bottom: 2px solid #49cca2;
    
}
.right-box button{
    width: 200px;
    padding: 15px 30px;
    background: rgb(5, 12, 10);
    margin: 20px auto;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: 5px 5px 15px #aae8ec;
    display: block;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

