*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #302e2e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 750px;
    height: 500px;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.left-box{
    width: 45%;
    height: 550px;
    border-radius: 20px;
    background: linear-gradient(   #ac0360, #800c1b  60%);
    clip-path: polygon(0% 0%, 99% 1%, 82% 46%, 100% 100%, 0% 100%);
    margin: -25px 0px;
    padding: 185px 40px;
    display: inline-block;
}
.left-box span{
    color: rgb(252, 133, 133);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.left-box h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;

}
.left-box{
    color: white;
    font-display: bold;

}
.right-box{
    width: 55%;
    height: 500px;
    border-radius: 20px;
    float: right;
    padding: 100px 40px;
}

.right-box span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(24, 36, 25);
}
.right-box input{
    margin: 8px 0px;
    width: 300px;
    padding: 10px 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1b1b1b;
    border: 0px;
    border-bottom: 2px solid gray;
    outline: 0px;
    opacity: 0.6;
}
.right-box input:focus{
    border: 0px;
    border-bottom: 2px solid rgb(128, 14, 29);
}

.right-box button{
    background: #031306;
    color:white;
    font-size: 20px;
    padding: 8px 25px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 30px;
    text-align: center;
    margin: 15px auto;
    width: 150px;
    display: block;
    box-shadow: 5px 5px 15px #d8f1de;
}